.content-recibo {
  zoom: 0.72;
  input {
    outline: none;
  }
  .container {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 30px;
    .body-form {
      position: relative;
      width: max-content;
      height: max-content;
      padding: 20px;
      background-color: #f4d3eb;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin: auto;
      .c-title {
        margin: 10px auto;
        display: flex;
        justify-content: space-between;
        .info-t {
          // LOGO --------------->
          .ico-logo {
            width: 406px;
            height: 101px;
            fill: #7a7dbb;
            stroke: #7a7dbb;
          }
          // LOGO --------------->
          .title {
            padding: 0 10px 0 10px;
            position: relative;
          }

          h3 {
            color: #7a7dbb;
            font-size: 15px;
            position: absolute;
            bottom: -18px;
            text-align: center;
            right: -50px;
            left: 0;
            margin: 0;
          }
        }

        .n-recibo {
          border: 1px solid #464545;
          border-radius: 4px;
          text-align: center;
          padding: 10px;
          height: min-content;
          margin: auto 10px;
          h2 {
            margin: 0;
            font-family: "Arial";
            font-weight: bold;
            font-size: 20px;
            color: #7a7dbb;
          }

          h1 {
            margin: 0;
            font-size: 30px;
            color: #464545;
          }
        }
      }
      .header-info {
        display: flex;
        justify-content: space-between;
        margin: 10px auto;
        place-items: center;
        align-items: flex-start;
        .switches-container {
          position: relative;
          .title-switch {
            display: inline-block;
            font-size: 1rem;
            margin: 5px 0;
            font-weight: 500;
            color: #4a4a4a;
            word-break: break-word;
            cursor: default;
            -webkit-tap-highlight-color: transparent;
          }
          .switches-body {
            position: relative;
            display: flex;
            padding: 0;
            position: relative;
            background: var(--switches-bg-color);
            line-height: 2rem;
            border-radius: 3rem;
            width: 10rem;
            input {
              visibility: hidden;
              position: absolute;
              top: 0;
            }
            label {
              width: 50%;
              padding: 0;
              margin: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              cursor: pointer;
              color: var(--switches-label-color);
            }
            .switch-wrapper {
              position: absolute;
              top: 0;
              bottom: 0;
              //left: 0;
              width: 50%;
              //padding: 0.15rem;
              z-index: 3;
              transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
              .switch {
                border-radius: 3rem;
                background: var(--switch-bg-color);
                height: 100%;
                margin: auto;
                width: 101%;
                border: solid 1px silver;
                div {
                  width: 100%;
                  opacity: 0;
                  display: flex;
                  align-items: center;
                  font-size: 20px;
                  color: var(--switch-text-color);
                  transition: opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1)
                    0.125s;
                  will-change: opacity;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  justify-content: space-around;
                }
              }
            }

            input:nth-of-type(1):checked ~ .switch-wrapper {
              transform: translateX(0%);
            }

            input:nth-of-type(2):checked ~ .switch-wrapper {
              transform: translateX(100%);
            }

            input:nth-of-type(1):checked
              ~ .switch-wrapper
              .switch
              div:nth-of-type(1) {
              opacity: 1;
            }

            input:nth-of-type(2):checked
              ~ .switch-wrapper
              .switch
              div:nth-of-type(2) {
              opacity: 1;
            }
          }
        }
        .h-cli {
          padding: 8px 0;
          display: grid;
          gap: 15px;
          .title-switch {
            font-size: 17px;
            color: #646464;
          }
        }
        .second-column {
          display: grid;
          gap: 5px;
          margin: 10px 0px;
          .h-date {
            display: grid;
            gap: 5px;
            .DayHour {
              width: 100%;
              display: flex;
              max-width: 190px;
              height: 25px;
              margin: auto;
              margin-top: 5px;

              label {
                color: #7a7dbb;
                text-transform: uppercase;
                font-size: 11px;
                font-weight: bold;
                letter-spacing: 0.05em;
                margin: auto;
                margin-right: 10px;
              }
              input {
                display: inline-block;
                font-size: 12px;
                text-align: center;
                border: 2px solid #7a7dbb;
                width: 105px;
                color: #3d44c9;
                line-height: 3;
                border-radius: 7px;
                font-family: "PT Sans", sans-serif;
                font-weight: bold;
                background: transparent;
                outline: 0;
                &:focus::placeholder {
                  color: transparent;
                }
                &::placeholder {
                  display: inline-block;
                  font-size: 12px;
                  padding: auto;
                  line-height: 3;
                  font-family: "PT Sans", sans-serif;
                  font-weight: bold;
                  color: #67688a77;
                }
              }
            }
            .content-date {
              position: relative;
              display: grid;
              grid-template-columns: 70px 215px;
              align-items: center;

              .mantine-1sd8r2y {
                top: 43px !important;
              }
              label {
                margin-bottom: 0;
              }
              .actions-date {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1px;
                button {
                  width: 36px;
                  height: 100%;
                  background-color: #4caf50;
                  border: none;
                  color: white;
                  cursor: pointer;
                  outline: none;
                  &:hover,
                  &:focus {
                    background: #3c813e;
                  }
                }
                // .btn-next {
                // }
                // .btn-preview {
                // }
              }
            }
            .content-hour {
              display: grid;
              grid-template-columns: 70px 1fr;
              align-items: center;
              .date-dh {
                position: relative;
                .hour-date {
                  position: relative;
                  width: 215px;
                  height: 36px;
                  font-size: 16px;
                  display: block;
                  text-align: end;
                  padding: 3px;
                  padding-top: 5px;
                  border: 2px solid silver;
                  padding-right: 0;
                  select {
                    outline: none;
                    color: #767676;
                    padding-right: 0;
                    text-align: center;
                    &:focus {
                      outline: none;
                    }
                    option {
                      text-align: center;
                      background-color: #eee;
                      color: #333;
                      padding-right: 0;
                    }
                  }
                  .react-time-picker {
                    padding-right: 0;
                  }
                  .react-time-picker__inputGroup__amPm {
                    width: 50px;
                    padding-bottom: 2px;
                  }
                  .react-time-picker__inputGroup__amPm {
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                  }
                  .react-time-picker__wrapper {
                    border: none;
                  }
                }
                .day-date {
                  position: absolute;
                  left: 6px;
                  top: 0;
                  margin: 6px;
                }
              }
              label {
                margin-bottom: 0;
              }
            }
            .switches-container {
              .switches-body {
                width: 10rem;
              }
            }
          }
        }
      }
      .description-info {
        width: max-content;
        margin: 15px auto;
        .actions {
          display: flex;
          justify-content: space-between;
          .button-actions {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 8px;
            margin: auto 0;
            button {
              margin: auto;
            }
          }
          .mantine-Select-root {
            position: relative;
            padding-bottom: 20px;
          }
        }

        .tb-prod {
          width: 542px;
          border-collapse: collapse;
          margin: 10px auto;
          .ico-req {
            position: absolute;
            bottom: 0;
            right: 0;
            color: #ffaf00;
            font-size: 24px;
            &:hover .info-req {
              display: block;
            }
            i {
              margin: 0;
              .info-req {
                display: none;
                width: max-content;
                position: absolute;
                top: -24px;
                left: 0;
                background: #fff;
                z-index: 1;
                border-radius: 5px;
                padding: 5px 10px;
                font-size: 17px;
                color: #000;
                font-family: roboto;
                border: solid 1px silver;
                font-weight: 100;
              }
            }
          }

          &::-webkit-scrollbar {
            width: 0;
          }
          tr {
            position: relative;
            display: grid;
            grid-template-columns: 100px 170px 300px 100px 40px;
          }
          thead {
            border: 1px solid #4671ea;

            tr {
              th {
                background: #5b81ea;
                color: #fff;
                font-weight: bold;
                padding: 10px 0;
                //border: 1px solid #4671ea;
                text-align: center;
                font-size: 1.2em;
              }
            }
          }

          tbody {
            border: solid 1px #5b81ea;
            tr {
              td {
                position: relative;
                padding: 0 10px;
                border: 1px solid #4671ea;
                text-align: center;
                vertical-align: top;
                display: flex;
                justify-content: center;
                align-items: center;
                input {
                  font-size: 1em;
                  height: 35px;
                  padding: 0 5px;
                  padding-top: 3px;
                  //line-height: 1;
                  width: 100%;
                }
                // .txtCantidad {
                //     //width: 50px;
                // }
                // .txtProducto {
                //     //width: 100px;
                // }
                // .txtTotal {
                //     // width: 50px;
                // }
              }
              .tADescription {
                padding: 10px;
                .contentDes {
                  width: 100%;
                  .textarea-container {
                    position: relative;
                    display: grid;
                    grid-template-columns: calc(100% - 42px) 42px;
                    textarea {
                      height: 25px;
                      float: left;
                      padding: 6px 10px;
                      outline: none;
                      resize: none;
                      font-size: 17px;
                      border-radius: 5px 0 0 5px;
                      border-color: #bfbfbf;
                      min-height: 36px;
                      max-height: 36px;
                      overflow: visible;
                      //background: rgba(255, 255, 255, 0.6392156863);
                      &:is(:focus, :valid) {
                        border-color: #4671ea;
                      }

                      &::-webkit-scrollbar {
                        width: 0;
                      }
                    }
                    .expanded {
                      max-height: 250px;
                    }
                  }
                  .expand-button {
                    width: 42px;
                    height: 36px;
                    outline: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0 10px 10px 0;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    background-color: #fafafa;
                    cursor: pointer;
                    border: 1px solid silver;
                    i {
                      padding: 5px;
                    }
                  }
                }
              }
              .space-action:hover .delete-row,
              .space-action:hover ~ .delete-row {
                fill: #f88888;
              }
              .delete-row {
                width: 18px;
                height: 18px;
                fill: #4b4b4b;
                cursor: pointer;
              }
            }
          }
          tfoot {
            tr {
              td {
                position: relative;
                font-size: 20px;
                &:nth-child(1) {
                  grid-column: span 2;
                }
                &:nth-child(2) {
                  text-align: right;
                  font-weight: 600;
                }
                &:nth-child(3) {
                  grid-column: span 2;
                  text-align: center;
                }
                .dsc {
                  position: absolute;
                  z-index: 1;
                }
                .input-number {
                  width: 100%;
                  max-width: 240px;
                  height: min-content;
                  display: flex;
                  place-items: center;
                  label {
                    color: #7a7dbb;
                    //text-transform: uppercase;
                    font-size: 15px;
                    font-weight: bold;
                    letter-spacing: 0.05em;
                    margin-right: 10px;
                  }
                  input {
                    border: 2px solid #7a7dbb;
                    width: 120px;
                    height: 30px;
                    min-height: 0;
                    color: #3d44c9;
                    font-weight: bold;
                    background: transparent;
                    font-size: 0.8em;
                    outline: 0;
                  }
                  #input-total {
                    //padding: 5px 5px 4px 10px;
                    border-radius: 5px;
                  }
                }
              }
            }
          }
        }
        .error-message {
          color: red;
        }
      }
      .footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 18px auto;
        .f-Pay {
          display: grid;
          gap: 10px;
          position: relative;
          .content-sb {
            position: relative;
            width: 200px;
            .input-pay {
              display: grid;
              gap: 5px;
              label {
                padding-left: 10px;
                font-size: 19px;
                color: #5e5e5e;
                font-weight: bolder;
              }
              .btn-switch {
                background: transparent;
                width: min-content;
                border: none;
                border-radius: 50px;
                padding: 0;
              }
            }
            img {
              width: 50px;
              height: 50px;
              margin: 0 10px;
              position: absolute;
              right: -25px;
              outline: none;
              user-select: none;
            }
            .ico-efect {
              bottom: -8px;
            }
            .ico-tranf {
              bottom: 4px;
            }
            .ico-card {
              bottom: 5px;
            }
          }
          .info-pago {
            border: 1px solid #777;
            padding: 5px 20px;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            color: #555454;
          }
        }
      }
      .list-pagos {
        width: min-content;
        background: #fff;
        margin: 0;
        padding: 0;
        font-family: "Arial", sans-serif;
        border-bottom: #009688;
        border-radius: 29px;
        table {
          width: max-content;
          border-collapse: collapse;

          thead {
            background-color: #009688;
            color: #ffffff;

            th {
              padding: 10px;
              text-align: left;
            }
          }

          tbody {
            tr {
              border-bottom: 1px solid #dddddd;

              &:nth-child(even) {
                background-color: #f2f2f2;
              }

              td {
                padding: 8px;
                text-align: center;

                &:first-child {
                  font-weight: bold;
                }
              }
            }
          }
        }
        .space-action {
          display: flex;
          gap: 10px;
          .btn-action {
            width: 40px;
            height: 40px;
            padding: 10px;
            border: none;
            border-radius: 10px;
            background: #444444;
            color: #fff;
          }
          .btn-edit {
            &:hover {
              background: #f4af19;
            }
          }
          .btn-delete {
            &:hover {
              background: #ff2929;
            }
          }
        }
      }
      .input-pay {
        display: flex;
        gap: 10px;
        font-size: 17px;
        font-weight: 600;
      }
    }
    .target-descuento {
      align-content: space-between;
      display: grid;
      .card-score {
        width: max-content;
        padding: 20px;
        background: #bacbff78;
        height: min-content;
        border-radius: 20px;
        border: solid 1px silver;
        box-shadow: 2px 2px 4px rgba(106, 20, 20, 0.2);

        $colorT: #5c4c73;
        .info {
          display: flex;
          justify-content: space-between;
          .insignia {
            //border: solid 1px silver;
            width: 100px;
            height: 100px;
            img {
              width: 100%;
              height: 100%;
              width: 100%;
              height: 100%;
              filter: drop-shadow(1px 2px 3px rgba(234, 189, 9, 0.667));
            }
          }
          .data {
            padding: 10px;
            .info-table {
              border-collapse: collapse;
              tr {
                td {
                  font-size: 1.2em;
                  text-align: left;
                  padding: 0;
                  color: #2e2e2e;
                  font-weight: 600;
                  color: #5b5b5b;
                  &:first-child {
                    font-weight: 800;
                    color: #5c4c73;
                    font-size: 1.2em;
                    width: 200px;
                  }
                }
              }
            }
          }
        }
        .visitas {
          table {
            width: max-content;
            max-height: 450px;
            overflow-y: auto;
            overflow-x: hidden;
            display: block;
            border-collapse: collapse;
            margin: 10px auto;
            border-bottom: solid 4px $colorT;
            border-radius: 13px 13px 0 0;
            &::-webkit-scrollbar {
              width: 0;
            }
            tr {
              position: relative;
              display: grid;
              grid-template-columns: 60px 200px 210px 100px;
            }
            thead {
              border: 1px solid $colorT;
              position: sticky;
              top: 0;
              z-index: 1;
              tr {
                th {
                  background: $colorT;
                  color: #fff;
                  font-weight: bold;
                  padding: 10px;
                  //border: 1px solid $colorT;
                  text-align: center;
                  font-size: 20px;
                }
              }
            }

            tbody {
              border: 1px solid $colorT;
              tr {
                td {
                  position: relative;
                  padding: 10px;
                  border: 1px solid $colorT;
                  text-align: center;
                  vertical-align: top;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  // &:last-child {
                  //     background: #60eba8;
                  // }
                }
              }
            }
          }
          .footer-info {
            .text-info {
              float: right;
              display: grid;
              grid-template-columns: auto auto;
              gap: 20px;
              padding: 0 25px;
              font-size: 20px;
            }
          }
        }
      }
      .card-promocion {
        display: grid;
        //place-items: center;
        .btn-add-promo {
          font-size: 20px;
          padding: 10px;
          width: 70%;
          border-radius: 10px;
          border: none;
          background: var(--secondary-color);
          color: #fff;
          outline: none;
          &:hover {
            background: var(--primary-color);
          }
        }
        .list-promociones {
          .tb-promo {
            border-collapse: collapse;
            margin: 10px auto;
            &::-webkit-scrollbar {
              width: 0;
            }
            tr {
              position: relative;
              display: grid;
              grid-template-columns: 100px 400px 130px 50px;
            }
            thead {
              border: 1px solid #4671ea;
              tr {
                th {
                  background: #5b81ea;
                  color: #fff;
                  font-weight: bold;
                  padding: 10px 0;
                  text-align: center;
                  font-size: 1.2em;
                  line-height: 1;
                }
              }
            }

            tbody {
              border: solid 1px #5b81ea;
              tr {
                td {
                  position: relative;
                  padding: 8px 10px;
                  font-size: 20px;
                  border: 1px solid #4671ea;
                  text-align: center;
                  vertical-align: top;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                .space-action:hover .delete-row,
                .space-action:hover ~ .delete-row {
                  fill: #f88888;
                }
                .delete-row {
                  width: 18px;
                  height: 18px;
                  fill: #4b4b4b;
                  cursor: pointer;
                }
              }
            }
            tfoot {
              tr {
                td {
                  position: relative;
                  font-size: 20px;
                  padding: 10px 0;
                  &:nth-child(3) {
                    text-align: center;
                  }
                  &:nth-child(4) {
                    font-weight: 600;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }
      .buttons-external {
        display: inline-grid;
        button {
          background: #555555;
          outline: none;
          border: none;
          border-radius: 18px;
          font-size: 1em;
          height: 60px;
          width: 120px;
          color: #fff;
          font-weight: 800;
          box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
          margin: 10px 0;
          &:hover {
            background: #7a7dbb;
          }
          .ico-next {
            fill: #fff;
            width: 40px;
            height: 40px;
          }
        }
        .b-cancelar {
          &:hover {
            background: #e0606b;
          }
        }
        .b-saved {
          &:hover {
            background: #69d384;
          }
        }
      }
    }
  }
}

.opcion {
  display: flex;
  gap: 10px;
  padding: 0 10px;
  width: max-content;
  .btn-action {
    outline: none;
    width: 100px;
    background: #454545;
    border-radius: 10px;
    padding: 5px;
    color: #fff;
    border: none;
  }
  .acp {
    &:hover {
      background: #0fcf72;
    }
  }
  .neg {
    &:hover {
      background: #cf0f0f;
    }
  }
}

.valid-promocion {
  display: grid;
  place-items: center;
  padding: 0 30px;
  gap: 10px;
  .input-promotion {
    width: 100%;
  }
  button {
    font-size: 15px;
    padding: 10px;
    width: 70%;
    border-radius: 10px;
    border: none;
    outline: none;
    line-height: 1;
    color: #fff;
  }
  .btn-valid {
    background: #444444;
    &:hover {
      background: #4caf50;
    }
  }
  .btn-add {
    background: #4caf50;
    &:hover {
      background: #1a8d1e;
    }
  }
  .description-info {
    outline: none;
    resize: none;
    margin: auto;
    width: 100%;
    height: 60px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    line-height: 20px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(70, 69, 69);
    transition: border 0.2s ease;
    will-change: border;
    background-color: transparent;
  }
}
