.content-users {
  display: grid;
  width: 100%;
  grid-template-columns: max-content 600px;
  gap: 30px;
  place-content: center;
  .form-users {
    width: 400px;
    margin: auto;
    border: 1px solid #848484;
    border-radius: 10px;
    padding: 15px;
    .container {
      display: grid;
      min-height: 540.78px;
      .h-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px 8px;
          background: transparent;
          outline: none;
          border: 1px solid #6d6d6d;
          border-radius: 5px;
          &:hover {
            background: linear-gradient(50deg, rgba(255, 178, 46, 1), red);
            border: none;
            .cancel-edit {
              fill: #fff;
            }
          }
          .cancel-edit {
            width: 100%;
            height: 18px;
            fill: #444444;
            cursor: pointer;
          }
        }
      }
      .account {
        background: #fff;
        border: silver 1px solid;
        padding: 10px 25px;
        display: grid;
        place-items: center;
        margin: 15px 5px;
        border-radius: 15px;
        padding-bottom: 25px;
        justify-content: start;
        .input-item {
          width: calc(100% - 85px);
          min-width: 250px;
        }
      }
      .btn-save {
        margin: 10px;
      }
      .ico-req {
        margin: 0 !important;
        position: absolute;
        bottom: 0;
        right: -35px;
        color: #ffaf00;
        font-size: 24px;
        &:hover .info-req {
          display: block;
        }
        i {
          margin: 0;
          .info-req {
            display: none;
            width: max-content;
            position: absolute;
            top: -24px;
            left: 0;
            background: #fff;
            z-index: 1;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 17px;
            color: #000;
            font-family: roboto;
            border: solid 1px silver;
            font-weight: 100;
          }
        }
      }
      .input-item {
        position: relative;
        width: calc(100% - 35px);
      }
    }
  }
  .list-users {
    .actions {
      display: flex;
      gap: 10px;
      place-items: center;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 13px 10px 13px 15px;
        background: transparent;
        outline: none;
        border: 1px solid #6d6d6d;
        border-radius: 5px;

        i {
          font-size: 1.5em;
          color: #464646;
          cursor: pointer;
        }
      }
      .btn-edit {
        &:hover {
          background: #efaf48;
          i {
            color: #fff;
          }
        }
      }
      .btn-delete {
        &:hover {
          background: #f88888;
          i {
            color: #fff;
          }
        }
      }
    }
  }
}
